@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Open Sans', 'Helvetica';

  /* Brand color scale */
  --color-brand-50: #fce7f1;
  --color-brand-100: #f9cfe3;
  --color-brand-200: #f2a0c6;
  --color-brand-300: #eb70a9;
  --color-brand-400: #e4418c;
  --color-brand-500: #a21a5c; /* base */
  --color-brand-600: #8f1651;
  --color-brand-700: #6d0025;
  --color-brand-800: #5d0e36;
  --color-brand-900: #430a29;
  --color-brand-950: #531342; /* provided darker */
}

:root {
  --ui-color-primary-50: var(--color-brand-50);
  --ui-color-primary-100: var(--color-brand-100);
  --ui-color-primary-200: var(--color-brand-200);
  --ui-color-primary-300: var(--color-brand-300);
  --ui-color-primary-400: var(--color-brand-400);
  --ui-color-primary-500: var(--color-brand-500);
  --ui-color-primary-600: var(--color-brand-600);
  --ui-color-primary-700: var(--color-brand-700);
  --ui-color-primary-800: var(--color-brand-800);
  --ui-color-primary-900: var(--color-brand-900);
  --ui-color-primary-950: var(--color-brand-950);

  --ui-primary: var(--ui-color-primary-700);
}

.dark {
  --ui-primary: var(--ui-color-primary-600);
}
